/* header {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: background-color 0.3s ease-in-out;
    box-shadow: none; 
  }
  
  header.scrolled {
    background-color: #ffffff; 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.253); 

  }
  
  nav {
    display: flex;
    justify-content: center;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin: 10px;
  }
  
  a {
    text-decoration: none;
  }
   */

.navigationlink{
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-right: 10px;
}