.swiper-pagination-bullet-active {
    background: #008D66 !important;
}

.swiper-pagination-bullet{
    background: #4CAF4F !important;
}

.homepage-slider .swiper-wrapper{
    display: flex !important;
   align-items: start !important;
  }